/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 .card-body-list {
  margin-top: 5;
  margin-left: 5rem;
  text-align: center;
}

.card-body {
  margin-top: 5px;
  margin-left: 5rem;
}

.card-body-new {
  margin-top: 5px;
  margin-left: 5rem;
}

 .card-list{
   margin-top: auto;
   margin-bottom: auto;
   background-color: rgb(107, 107, 103) !important;
   /* text-align: center; */
 }
