// Place all the styles related to the theatre_admins controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.container-t{
  text-align: center;
}

.card-add{
  align-items: center;
  margin-left: 35%;
  text-align: center;
  
  // background-color:;
}